@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full hover:bg-gray-400;
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-playfair {
    font-family: 'Playfair Display', serif;
  }

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .font-mono {
    font-family: 'Roboto Mono', monospace;
  }
}